html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


#portada{
  font-family: 'Pacifico', cursive;
  color: rgb(28, 206, 28);
}
#portada img {
  border-radius: 20px;
}

#tarjeta{
  border-radius: 20px;
  border: 2px solid #b9b9b99c;
  width: 400px;
  margin: 0 auto;
  display: none;
}

.footer{
  padding: 20px 0px;
  background-color: rgb(197, 197, 197);
  text-align: center;
}
