@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="portada">
    <h1 class="display-4"><i class="fa-solid fa-shield-dog"></i> Bienvenido</h1>
    <img src="http://placeimg.com/300/360/animals" class="mx-auto d-block">
    <br>
    <h2>Nuestro compromiso es la salud.</h2>
</div>

<div class="container-center" id="tarjeta">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="http://placeimg.com/300/200/animals" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>
